<app-nav-bar></app-nav-bar>
<div class="card">
  <div class="card-body">
    <a routerLink="/play-snake">
      <img class="card-image-top game-thumbnail" src="../../../assets/Images/Snake/snake-thumbnail.PNG" alt="">
    </a>
    <h4 class="card-title">Play Snake</h4>
    <p class="card-text">
      Classic game of snake, use the arrow keys to move the snake around and eat the red cherries.<br>
      Use the arrows keys to move or swipe the screen on mobile devices.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">More Games to Come</h4>
    <p class="card-text">
      More games are constantly being developed and added into the site. In the mean time, I hope you enjoy
      the available selection.
    </p>
</div>