<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary" id="navbar">
    <a class="navbar-brand" routerLink="">Game Corner
        <fa name="gamepad" size="lg"></fa>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavBar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <div ngbDropdown class="d-inline-block">
                    <a class="btn" id="dropdownBasic1" ngbDropdownToggle>Games</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a class="dropdown-item" routerLink="/play-snake">Snake</a>
                    </div>
                </div>
            </li>
        </ul>
        <button *ngIf="!isLoggedIn" class="btn btn-success my-2 my-sm-0" (click)="goToLogin()">Log In</button>
        <div *ngIf="isLoggedIn" class="nav-item">
            <img src="{{user.profile_picture}}" class="user-image">
        </div>
        <div *ngIf="isLoggedIn" class="nav-item user-name">
            {{user.name}}
        </div>
        <button *ngIf="isLoggedIn" class="btn btn-danger my-2 my-sm-0" (click)="logOut()">Log out</button>
    </div>
</nav>