.navbar {
    background-color: #0A4A81;
}

.navbar-toggler {
    background-color: #5F6760;
}

.navbar-brand {
    color: #5F6760;
    font-size: xx-large;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 0;
}

.user-name {
    margin-right: 20px;
    margin-left: 0px;
}